*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(253, 251, 251);
}

h2{
    color: #0a7e51;
    width: 400px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -60px;
    text-align: center;
    margin-left: 20px;
    
}

header{
    position: relative;
    top:0px;
    height: auto;
    width: 100%;
}

nav{
    position:relative;
    top: 0px;
    height: 100px;
    width: 100%;
    z-index: 1;
    
}

#cabecalho{
    background-color: #0a7e51;
    top: 0px;
    position:fixed;
    max-width: 100%;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    border-bottom: 3px solid rgb(236, 252, 220);
    z-index: 2;
}
#cabecalho li{
    list-style:none;
    float:left;
    margin: 0 20px;
}
#cabecalho li a{
    text-decoration: none;
    color: whitesmoke;
}

#titulo{
    color: white;
    line-height: 100px;
    font-weight: 900px;
    font-size: 35px;
    text-align: center;
}

#minha_foto{
    width: 316px;
    position:relative;
    top: 58px;
}

.container_photo_article{  
    display: flex;
    align-items:center;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(243, 248, 238);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.myself{
    float: right; 
    margin-top: 220px;
    max-width: 500px;
    margin-left: 150px;
    text-align: justify;
}

.lists{ 
    align-items:center;
    margin-top: 30px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    height: 90px;
    font-size: 13px;
}
.licoes_aprendidas {
     margin-top: 30px;
     list-style: none;   
}
.licoes_a_aprender {
    float: right;
    margin-top: 20px;
    list-style: none;
}
.lists ul li{
    display: inline-block;
    padding-right: 4px;
    padding-top: 4px;
}
.lists ol li{
    display: inline-block;
    padding-right: 15px;
    padding-top: 4px;
}

footer{
    border-bottom: 4px solid rgb(243, 248, 238);
    background-color: #0a7e51;
    text-align: center;
    display: flex;
    
}

#rodape{
    font-size: 10px;
    width: 31%;
    padding: 1%;  
    color: whitesmoke;  
    margin-left: 350px;
}


